<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-lg font-semibold">Tilin App</a>
        <div>
            <a href="/" class="text-white mx-2">Home</a>
            <a href="/users" class="text-white mx-2">Users</a>
            <a href="/clubs" class="text-white mx-2">Clubs</a>
        </div>
    </div>
</nav>